:root {
    --color-bg: rgb(225, 219, 206);
    --color-input: rgb(255, 255, 255);
    --color-footnav: antiquewhite;
    --color-main: white;
    --color-font: #000000;
    --color-icon: #ffffff;
    --color-font-footer: #ffffff;
    --color-second-main: rgb(248, 239, 229);
}

.darkmode {
    --color-bg: #4e4e4e;
    --color-input: #4e4e4e;
    --color-footnav: #181818;
    --color-main: #303030;
    --color-font: #ffffff;
    --color-icon: #000000;
    --color-font-footer: #ffffff;
    --color-second-main: rgb(80, 80, 80);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1rem;
    color: var(--color-font);
}

h1 {
    font-size: 3rem;
    font-family: Panton;
    color: var(--color-font);
}

h2 {
    font-size: 2.3rem;
    font-family: Panton;
    color: var(--color-font);
}

h3 {
    font-size: 1.3rem;
    color: var(--color-font);
}

h4 {
    font-size: 1.1rem;
    color: var(--color-font);
}

h5 {
    font-size: 1rem;
    color: var(--color-font);
}


nav {
    font-family: Panton;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-footnav);
    padding: 3vw 14px;
    margin: 0px;
    position: sticky;
    top: 0px;
    border-bottom: 0.3vh black solid;
    transition: background-color 0.3s ease-in-out;
    height: 110px;
}

nav a {
    text-decoration: none;
    color: var(--color-font);
    font-size: 1.67rem;

    text-align: center;

}

nav a:hover{
    text-decoration: underline;
}

nav a:active{
    text-decoration: underline;
}

nav img {
    display: block;
    width: 45vw;
    padding: 10px;
}

ol {
    align-items: center;
}


.imag {
    display: none;
}

.darkmode .imag {
    display: block;
}

.darkmode nav img:first-child {
    display: none;
}


li {
    list-style-type: none;
}


.side {
    display: flex;
    gap: 4vw;
    flex-flow: row nowrap;
    align-items: end;
}

nav #theme-switch {
    display: none;
    padding: 0;
}

#theme-switch {
    height: 60px;
    width: 60px;
    background-color: var(--color-footnav);
    border-style: solid;
    border-color: var(--color-font);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    height: 30px;
    width: 30px;
    fill: var(--color-font);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}



header {
    background-color: var(--color-bg);
    padding: 5px 20px 50px;
    margin: 0px;
    transition: background-color 0.3s ease-in-out;
}



main {
    background-color: var(--color-main);
    padding: 20px 0px 0 0;
    margin: 0px;
    transition: background-color 0.3s ease-in-out;
}

main img {
    width: 100vw;
    flex: 1;
    margin-bottom: 0px;
    margin-top: 3vw;
    border-radius: 5%;

}

main section {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
}

main section div {
    flex: 1;
}

main ol {
    color: var(--color-font);
}

.flipped2 {
    flex-direction: row;
    display: none;
}

.tut1, .tut2, .tut3, .tut4 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tut1 span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:var(--color-font);
    color:var(--color-icon);
}

.tut1 p {
    margin: 0;
    color: var(--color-font);
    width: 300px;
    padding: 20px 20px;
    text-align: center;
    align-self: center;
}

.tut1 img {
    margin: 0;
    width: 350px;
    height: 350px;
}

.tut2 span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:var(--color-font);
    color:var(--color-icon);
    align-self: center;
}

.tut2 p {
    margin: 0;
    color: var(--color-font);
    width: 300px;
    padding: 20px 20px;
    align-self: center;
    text-align: center;
}

.tut2 img {
    margin: 0;
    width: 350px;
    height: 350px;
}

.tut3 span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:var(--color-font);
    color:var(--color-icon);
    align-self: center;
}

.tut3 p {
    margin: 0;
    color: var(--color-font);
    width: 300px;
    padding: 20px 20px;
    align-self: center;
    text-align: center;
}

.tut3 img {
    margin: 0;
    width: 350px;
    height: 350px;
}

.tut4 span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:var(--color-font);
    color:var(--color-icon);
    align-self: center;
}

.tut4 p {
    margin: 0;
    color: var(--color-font);
    width: 300px;
    padding: 20px 20px;
    align-self: center;
    text-align: center;
}

.tut4 img {
    margin: 0;
    width: 350px;
    height: 350px;
}

/* Niet in gebruik ivm dat het maa het eenigste


/* .darkmode .flipped2 {
    display: block;
}
*/

/* .darkmode section.flipped img:first-child {
    display: none;
}
/*/

article {
    display: flex;
      margin: 0px;
    flex-direction: column;
    justify-content: center;
}

article div {
    flex: 1;
    justify-content: center;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

.names {
    font-weight: bold;
}

.doel {
    background-color: var(--color-bg);
}

.aboutus {
    background-color: var(--color-second-main);
    transition: background-color 0.3s ease-in-out;
    justify-content: center;
      margin: 0px;
}

.aboutus img{
    border-radius: 50%;
    height: 15vh;
    width: auto;
    margin: 0px;
}

#theme-switch2 {
    height: 60px;
    width: 60px;
    background-color: var(--color-footnav);
    border-style: solid;
    border-color: var(--color-font);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch2 svg {
    height: 30px;
    width: 30px;
    fill: var(--color-font);
}

#theme-switch2 svg:last-child {
    display: none;
}

.darkmode #theme-switch2 svg:first-child {
    display: none;
}

.darkmode #theme-switch2 svg:last-child {
    display: block;
}

.modeswitch {
    display: flex;
    position: sticky;
    bottom: 4vh;
    justify-content: right;
    padding: 4vh 40px;
    align-items: end;

}

section.flipped {
    background-color: var(--color-second-main);
    transition: background-color 0.3s ease-in-out;
}

section.top {
    margin-top: 0vw;

}

.remote-control {
    display: flex;
}


footer {
    display: flex;
    flex-direction: row;
    color: var(--color-font-footer);
    background-color: var(--color-footnav);
    padding: 20px 100px;
    margin: 0px;
    transition: background-color 0.3s ease-in-out;
}

/* Contact page */

.form {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0 20px;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0px;
    color: var(--color-font);
}

.form div {
    align-items: center;
    padding: 10px 0vw;
    justify-content: center;
    gap: 0 20px;
    margin: 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.question {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter div {
    display: flex;
    flex-direction: row;
}

.termsConditions div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
}

.form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 6vh;
    width: 70vw;
    border-radius: 20px;
    margin: 25px 0;
    border: 2px solid lightgrey;
    border-radius: 12px;
    color: var(--color-font);
    background-color: var(--color-input);
}

textarea {
    width: 70vw;
    max-width: 70vw;
    min-width: 70vw;
    height: 20vh;
    max-height: 20vh;
    min-height: 20vh;
}

select {
    width: 71.8vw;
    height: 4.8vh;
}

.nameMail input {
    width: 70vw;
    height: 4vh;
}

.email input {
    width: 70vw;
    height: 4vh;
}

.newsletter div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

input {
    border: 2px solid lightgrey;
    border-radius: 12px;
    color: var(--color-font);
    background-color: var(--color-input);
}

input:focus {
    border: 2px solid black;
}

textarea {
    border: 2px solid lightgrey;
    border-radius: 12px;
    color: var(--color-font);
    background-color: var(--color-input);
}

textarea:focus {
    border: 2px solid black;
}

select {
    border: 2px solid lightgrey;
    border-radius: 12px;
    color: var(--color-font);
    background-color: var(--color-input);
}

select:focus {
    border: 2px solid black;
}

.form button:hover{

    background-color: var(--color-footnav);
}

main h2 {
        text-decoration: underline;
    }

@media (width >=550px) {
    nav img {
    display: block;
    width: 245px;
    padding: 10px;
}
}


@media (width >=900px) {
    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 20px 40px;
        gap: 10vw;
        height: 80px;
    }

    nav img {

        width: 270px;
        padding: 0px;
    }

    nav a {
        font-size: 1.8rem;
    }

    nav #theme-switch {
        display: block;
    }

    .darkmode #theme-switch svg:last-child {
        margin-left: 13px;
    }


    nav #theme-switch2 {
        display: block;
    }

    .darkmode #theme-switch2 svg:last-child {
        margin-left: 13px;
    }

    h1 {
        padding-left: 40px;
    }

    header p {
        padding-left: 40px;
    }



    .modeswitch {
        display: none;
    }

    #theme-switch2 {
        height: 60px;
        width: 60px;
        background-color: var(--color-footnav);
        border-style: solid;
        border-color: var(--color-font);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #theme-switch2 svg {
        height: 30px;
        width: 30px;
        fill: var(--color-font);
    }

    #theme-switch2 svg:last-child {
        display: none;
    }

    .darkmode #theme-switch2 svg:first-child {
        display: none;
    }

    .darkmode #theme-switch2 svg:last-child {
        display: block;
    }

    .flipped {
        flex-direction: row;
        padding-left: 0px ;
;
    }

    .flipped p, .hitte {
        padding-left: 50px;
    }

    .flipped2 p, .hitte {
        padding-left: 50px;
    }


    main section div {
        flex-direction: column;
    }

    main img {
        width: 40vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 50px;
        margin-right: 50px;
        
    }
    
    article {
    display: flex;
    margin: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    }

    .aboutus img{
        height: auto;
        width: 15vw;
    }

    .top {
        flex-direction: row-reverse;
        gap: 5vw;
    }

    .remote-control {
        flex-direction: row-reverse;
        gap: 5vw;
    }

    /* Contact page */

    select {
    width: 70.78vw;
    height: 4.8vh;
    }

    .tut1, .tut2, .tut3, .tut4 {
        display: flex;
        flex-direction: row;
        padding: 50px 0;
    }
    
    .tut1 span {
        display:inline-flex;
        align-items:center;
        justify-content:center;
        width:25px;
        height:25px;
        border-radius:50%;
        background-color:var(--color-font);
        color:var(--color-icon);
        align-self: center;
    }
    
    .tut1 p {
        margin: 0;
        color: var(--color-font);
        width: 200px;
        padding: 0 20px;
        align-self: center;
    }
    
    .tut1 img {
        margin: 0;
        width: 300px;
        height: 300px;
    }
    
    .tut2 span {
        display:inline-flex;
        align-items:center;
        justify-content:center;
        width:25px;
        height:25px;
        border-radius:50%;
        background-color:var(--color-font);
        color:var(--color-icon);
        align-self: center;
    }
    
    .tut2 p {
        margin: 0;
        color: var(--color-font);
        width: 200px;
        padding: 0 20px;
        align-self: center;
    }
    
    .tut2 img {
        margin: 0;
        width: 300px;
        height: 300px;
    }
    
    .tut3 span {
        display:inline-flex;
        align-items:center;
        justify-content:center;
        width:25px;
        height:25px;
        border-radius:50%;
        background-color:var(--color-font);
        color:var(--color-icon);
        align-self: center;
    }
    
    .tut3 p {
        margin: 0;
        color: var(--color-font);
        width: 200px;
        padding: 0 20px;
        align-self: center;
    }
    
    .tut3 img {
        margin: 0;
        width: 300px;
        height: 300px;
    }
    
    .tut4 span {
        display:inline-flex;
        align-items:center;
        justify-content:center;
        width:25px;
        height:25px;
        border-radius:50%;
        background-color:var(--color-font);
        color:var(--color-icon);
        align-self: center;
    }
    
    .tut4 p {
        margin: 0;
        color: var(--color-font);
        width: 200px;
        padding: 0 20px;
        align-self: center;
    }
    
    .tut4 img {
        margin: 0;
        width: 300px;
        height: 300px;
    }


    .doel {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .doel p {
        padding-bottom: 20px;
        width: 1000px;
    }

    .install {
        padding-bottom: 50px;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
   /* li:hover {
        transform: scale(1.2);
    }

    nav img:hover {
        transform: scale(1.2);
    } */


}



@font-face {
    font-family: Panton;
    src: url(https://file.garden/aCHSjVU4PCQNDvKI/PantonNarrow-Trial-Regular.ttf);
}

@font-face {
    font-family: Sunflower;
    src: url(https://file.garden/aCHSjVU4PCQNDvKI/MADE%20Sunflower%20PERSONAL%20USE.otf);
}